@import "../css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@media screen and (min-width: 1200px) {
  .body {
    font-family: "Montserrat", sans-serif;
  }

  .header-section {
    background: url("../img/background1.png");
    margin-bottom: 8px;
    background-attachment: fixed;
  }

  .header {
    background: rgba(94, 93, 88, 0.6);
    padding: 26px 0px;
    margin-bottom: 264px;
  }

  .container {
    max-width: 1160px;
    margin: 0 auto;
  }

  .header__body,
  .nav__item,
  .logo__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo__link {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    color: #ffffff;
  }

  .img__logo {
    padding-right: 6px;
  }

  .name {
    font-weight: 700;
    color: #18cfab;
  }

  .nav__item {
    gap: 22px;
  }

  .text__container {
    position: relative;
    display: inline-block;
  }

  .fa-magnifying-glass {
    color: rgba(255, 255, 255, 0.6);
  }

  .hover__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.56;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s;
  }

  .underline {
    position: absolute;
    width: 100%;
    transition: transform 0.3s;
    bottom: -47px;
  }

  .text__container:hover .hover__text {
    color: #18cfab;
  }

  .text__container:hover .fa-magnifying-glass {
    color: #18cfab;
  }

  .text__container:hover .underline {
    transform: matrix(1, 0, 0, -1, 0, 0);
    border: 2px solid #18cfab;
  }

  .main__title,
  .advantages__theme,
  .advantages__custom,
  .advantages__support,
  .advantages__device,
  .offer__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title__text {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
  }

  .title__name {
    color: #18cfab;
  }

  .title__maine {
    font-weight: 700;
    font-size: 78px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
  }

  .subtitle {
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2;
    padding-bottom: 129px;
    color: #d4d4d4;
  }

  .main__btn {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 26px;
    padding-bottom: 243px;
    z-index: 1;
  }

  .btn__explore,
  .btn__purchase,
  .offer__btn_purchase {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 2.13;
    padding: 16px 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
  }

  .btn__text {
    position: relative;
    z-index: 2;
  }

  .btn__overlay {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: -1;
  }

  .btn__explore,
  .offer__btn_purchase {
    background: #18cfab;
  }

  .btn__purchase {
    background: #00cbf6;
  }

  .advantages__body {
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
  }

  .advantages__theme {
    width: 100%;
    padding: 37px 0;
    background: #1c2a33;
  }

  .advantages__custom {
    width: 100%;
    padding: 37px 0;
    background: #18cfab;
  }

  .advantages__support {
    width: 100%;
    padding: 37px 0;
    background: #1c2a33;
  }

  .advantages__device {
    width: 100%;
    padding: 37px 0;
    background: #18cfab;
  }

  .text__green,
  .text__white {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .text__green {
    padding: 47px 0 103px;
    color: #18cfab;
  }

  .text__white {
    padding: 58px 0 103px;
    color: #ffffff;
  }

  .img__green {
    padding-top: 93px;
  }

  .img__white {
    padding-top: 105px;
  }

  /* our services */

  .services__title,
  .amazing-work__title,
  .news__title,
  .peoples__title {
    position: relative;
  }

  .services__title::before,
  .services__title::after,
  .amazing-work__title::before,
  .amazing-work__title::after,
  .news__title::before,
  .news__title::after,
  .peoples__title::before,
  .peoples__title::after {
    content: "";
    position: absolute;
    background-color: #18cfab;
  }

  .services__title::before,
  .amazing-work__title::before,
  .news__title::before,
  .peoples__title::before {
    width: 76px;
    left: 535px;
    right: 0;
    bottom: 75px;
    height: 1px;
  }

  .services__title::after,
  .amazing-work__title::after,
  .news__title::after,
  .peoples__title::after {
    width: 78px;
    left: 545px;
    right: 0;
    bottom: 70px;
    height: 1px;
  }

  .title__black{
    padding-bottom: 101px;
  }

  .title__black,
  .peoples__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color: #4e4e4e;
  }

  .tabs,
  .amazing-work__tabs {
    display: flex;
    justify-content: center;
  }

  .tabs {
    padding-bottom: 25px;
  }

  .tabs-title {
    position: relative;
    cursor: pointer;
    padding: 18px 40px;
    background: #f8fcfe;
    border: 1px solid #edefef;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.44;
    white-space: nowrap;
    text-align: center;
    transition: border 0.3s;
    color: #717171;
  }

  .tabs-title:hover {
    border: 1.5px solid #18cfab;
  }

  .tab-content__wrapper {
    display: flex;
    justify-content: center;
  }

  .tab__img {
    width: 192px;
    height: 139px;
    flex-shrink: 0;
    margin-right: 15px;
  }

  .tab__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 91px;
    color: #777777;
  }

  .tabs-title::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
  }

  .tabs-title.active {
    background-color: #18cfab;
    color: #ffffff;
  }

  .tabs-title.active::before {
    border-top: 8px solid #18cfab;
  }

  .offer {
    background-image: url("..//img/background2.png");
  }

  .offer__body {
    padding-top: 127px;
  }

  .offer__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    padding-bottom: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #18cfab;
  }

  .offer__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    padding-bottom: 62px;
    text-align: center;
    color: #d8d8d8;
  }

  .offer__btn {
    position: relative;
    padding-bottom: 127px;
    z-index: 1;
  }

  .amazing-work {
    background: #e9edef;
    padding-top: 96px;
    margin-bottom: 82px;
  }

  .amazing-work__tabs {
    margin-bottom: 71px;
  }

  .tabs-amazing {
    font-weight: 400;
    font-size: 14px;
    line-height: 3;
    align-items: center;
    cursor: pointer;
    padding: 18px 40px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #dadada;
    color: #717171;
    transition: color 0.3s, border 0.3s;
  }

  .tabs-amazing:hover {
    border: 1px solid #18cfab;
    color: #18cfab;
  }

  .amazing-work__grid,
  .news-img__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0;
  }

  .card {
    position: relative;
    perspective: 1000px;
    width: 285px;
    height: 211px;
  }

  .card__front {
    position: absolute;
    width: 291px;
    height: 211px;
    object-fit: cover;
    transition: transform 0.5s;
  }

  .card-back {
    position: absolute;
    width: 291px;
    height: 211px;
    background-color: #e9edef;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }

  .card-back__underline {
    position: absolute;
    width: 100%;
    border: 2px solid #18cfab;
  }

  .img__chain,
  .img__stop {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    margin-top: 46px;
  }

  .img__chain img,
  .img__stop img {
    width: 41px;
    height: 40px;
  }

  .card:hover img {
    transform: rotateY(180deg);
  }

  .card:hover .card-back {
    transform: rotateY(0deg);
    opacity: 1;
  }

  .card__title {
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.78;
    margin-top: 35px;
    text-transform: uppercase;
  }

  .card__text {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
  }

  .visible {
    display: block;
  }

  .hidden {
    display: none;
  }

  .amazing__btn {
    padding: 10px 20px 10px 20px;
    background: #18cfab;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
  }

  .loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
  }

  .loader__item {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 50%;
  }

  .loader__item--1 {
    border-top-color: #18cfab;
    animation: spin 0.5s linear infinite;
  }

  .loader__item--2 {
    border-top-color: #d62d20;
    animation: spin 0.75s linear infinite;
    top: 10%;
    left: 10%;
    width: 40px;
    height: 40px;
  }

  .loader__item--3 {
    border-top-color: #ffa700;
    animation: spin 1s linear infinite;
    top: 20%;
    left: 20%;
    width: 30px;
    height: 30px;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .load__more {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 70px 0 99px 0;
  }

  .amazing__btn::before {
    content: url("../img/plusForBTN.svg");
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: 5px;
  }

  /* News */

  .news {
    margin-bottom: 129px;
  }

  .news-img__grid {
    row-gap: 45px;
    column-gap: 33px;
  }

  .news-img__data {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 6px 19px;
    background: #203e38;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    transition: background 0.3s;
  }

  .news-img__container {
    position: relative;
    display: inline-block;
  }

  .news-img {
    display: block;
  }

  .news-title {
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.16;
    transition: color 0.3s;
  }

  .news-img__name {
    margin-left: 16px;
  }

  .title-admin,
  .title-comment {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
  }

  .title-admin::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #777777;
    margin: 0 10px;
    vertical-align: middle;
  }

  .news-img:hover .news-title {
    color: #18cfab;
  }

  .news-img:hover .news-img__data {
    background: #18cfab;
  }

  /* people */

  .people {
    background-image: url("../img/background3.png");
  }

  .peoples__title {
    color: #fff;
    margin-bottom: 101px;
    padding-top: 98px;
  }

  .peoples__title::after {
    left: 545px;
    bottom: -40px;
  }

  .peoples__title::before {
    left: 535px;
    bottom: -35px;
  }

  .people__icon {
    width: 44px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 420px;
  }

  .carousel-container {
    position: relative;
    width: 580px;
    margin: 0 auto;
  }

  .carousel {
    position: relative;
    width: 100%;
    height: 86px;
    overflow: hidden;
    padding-bottom: 163px;
  }

  .carousel-inner,
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
  }

  .carousel-inner {
    height: 100px;
  }

  .carousel-item {
    position: relative;
    margin: 0 19px 0 19px;
    width: 65px;
    height: 63px;
    background-color: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  .carusel-img {
    margin-right: 5px;
    padding-left: 5px;
    width: 63px;
    height: 55px;
    border-radius: 50%;
  }

  .carousel-item.active {
    transform: translateY(-10px);
  }

  .separate-img {
    position: absolute;
    top: -200px;
    left: 37%;
   
    width: 143px;
    height: 142px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: solid 10px rgba(31, 218, 181, 0.2);
    opacity: 1;
  }

   @keyframes flipAnimation {
    0% {
      transition: opacity 0.3;
      opacity: 0;
      transform: perspective(800px) rotateY(0deg) rotateX(0deg) scaleX(1);
      background-position: right;
    }
  
    45% {
      transform: perspective(800px) rotateY(180deg) rotateX(0deg) scaleX(-1);
    }
  
    100% {
      transition: opacity 0.2s;
      opacity: 1;
      transform: perspective(800px) rotateY(180deg) rotateX(0deg) scaleX(-1);
      background-position: right;
    }
  }
  
  .separate-img-caption {
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    width: 1160px;
    text-align: center;
    color: #fff;
  }

  .separate-img-text {
    color: #bbb;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 37px;
  }

  .separate-img-heading {
    color: #18cfab;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
  }

  .separate-img-description {
    color: #bbbbbb;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
  }

  .carousel-control {
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    width: 31px;
    height: 31px;
    border: solid 1px #bbbbbb;
    color: #bbbbbb;
    font-size: 24px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    cursor: pointer;
  }

  .carousel-control:hover {
    background-color: #18cfab;
    color: #ffffff;
    border: solid 1px#FFFFFF;
  }

  .carousel-control.prev {
    left: 42px;
  }

  .carousel-control.next {
    right: 42px;
  }

  .footer {
    background-color: #22353f;
  }

  .footer__body {
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    padding: 48px 0;
  }

  .footer__subtext {
    color: #18cfab;
    
  }
}
